
<form class="formdangnhap"  action="/RegisterLogin/signin" method="post">
  <div>
    <h2>Đăng Nhập Tài Khoản</h2>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" class="form-control" name="taikhoan" id="exampleInputEmail1" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" class="form-control" name="matkhau" id="exampleInputPassword1" placeholder="Password">
  </div>
  <p>{{ko}}</p>
  <button type="submit" class="btn btn-primary">Đăng Nhập</button>
</form>