<table class="table">
  <thead>
    <tr>
      <th scope="col">Tên Kênh</th>
      <th scope="col">Mô Tả Kênh</th>
      <th scope="col">Số Lượt Đăng Ký Kênh</th>
      <th scope="col" colspan="2">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{tenkenh.tenkenh}}</td>
      <td>{{tenkenh.motakenh}}</td>
      <td>{{tenkenh.soluotdangky}}</td>
      <td>{{tenkenh.taikhoan}}</td>
      <td>
            <a href="accountMeFix" class="btn btn-link">Sửa</a>
            <a href="changePassword" class="btn btn-link">Đổi Mật Khẩu</a>
        </td>
    </tr>
  </tbody>
</table>